* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #a29bfe;
}

.name-form {
    display: none;
}

.todo-form {
    
}

.study-todoList:before {
    /* https://stackoverflow.com/questions/2227437/what-would-be-the-best-method-to-code-heading-title-for-ul-or-ol-like-we-ha */
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}